.home{
   border:5px solid #86B6F6;
   padding:50px;
   border-radius:10%;
   box-shadow:2px 3px 5px 6px brown;
}
#chatbox{
   background:url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
   border-radius:5px solid grey;
   
}
